<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aivideoclient">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="AI Video Client"
        android:icon="@mipmap/ic_launcher">
        <activity android:name="com.example.aivideoclient.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
